/* ============== Common styles ============== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h2,
h3 {
  color: #2e2f42;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ============== /Common styles ============== */

/* ============== Page header styles ============== */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.page-header-container {
  display: flex;
  align-items: center;
}
.page-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-part {
  color: #2e2f42;
}
.menu-list {
  display: flex;
  gap: 40px;
}

.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
  margin-left: auto;
}
.address-list {
  display: flex;
  gap: 40px;
}
.address-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
/* ============== /Page header styles ============== */

/* ============== Hero section styles ============== */
.hero {
  background: #2e2f42;
}
.section-paddings {
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-container {
  max-width: 1128px;
  max-height: 600px;

  padding: 0 auto;
}
.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 48px;
  width: 496px;
}
.btn {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #ffffff;
  background: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  min-width: 160px;
  display: block;
  margin: 0 auto;
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
/* ============== /Hero section styles ============== */

/* ============== Benefits section styles ============== */

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-top: 103px;
  padding-bottom: 137px;
}
.benefits-list-card {
  width: calc((100% - 72px) / 4);
}
.benefits-list:last-child {
  margin-right: 0;
}
.benefits-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.benefits-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ============== /Benefits section styles ============== */
/* ============== Our team section styles ============== */
.team {
  background: #f4f4fd;
}
.team-title {
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  padding-top: 120px;
  padding-bottom: 72px;
}
.team-card {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-bottom: 120px;
}
.team-card-item {
  background: #ffffff;
}
.team-card-container {
  text-align: center;
  padding: 32px 0;
}
.team-list-fullname {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 8px;
}
.team-card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ============== /Our team section styles ============== */

/* ============== Portfolio section styles ============== */
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  padding-top: 120px;
  padding-bottom: 72px;
}
.project-card {
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-bottom: 120px;
}
.project-card-container {
  text-align: left;
  padding: 32px 0;
  padding-left: 16px;
}
.project-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 8px;
}
.project-card-item {
  border: 1px solid #e7e9fc;
  width: calc((100% - 48px) / 3);
}
.project-card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ============== /Portfolio section styles ============== */

/* ============== Footer section styles ============== */
.page-footer {
  background-color: #2e2f42;
  padding: 100px;
  padding-left: 156px;
}

.logo-footer {
  padding-bottom: 16px;
  display: inline-block;
}
.logo-part-footer {
  color: #f4f4fd;
}
.footer-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
/* ============== /Footer section styles ============== */
